<head>
	<meta http-equiv="refresh" content="5">
	<title>Equallogic hard drive test monitoring by Rowan Goemans</title>
</head>
<body>
<table align="center" border="1" width="100%" height="100%">
	<tr height="{{ height }}%">
	{% set i = 0 %}
	{% for client in clients: %}
		<td align="center" width="{{ width }}%" bgcolor="{{ client['color'] }}"> <font size="6">{{ client['name'] }}</font> </br> <font size="5">{{ client['test'] }}</font> </br> <font size="5">{{ client['time'] }} </font> </td>
		{% set i = i + 1 %}
		{% if i%cols == 0: %}
			</tr>
			<tr height="{{ height }}%">
		{% endif %}
	{% endfor %}
	</tr>
	</table>
</body>